/* =============== PHONE ================= */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}

.container-nav .nav-list,
.container-nav .address {
    display: none;
}

.menu-container {
    padding: 72px 16px 40px 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.menu-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    padding: 0;

    background-color: transparent;
    border: none;
    line-height: 0;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.navigation {
    margin-bottom: auto;
}

.nav-list-phone {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.nav-list-a-phone {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-a-phone:hover,
.nav-list-a-phone:focus {
    color: #404bbf;
}

.current {
    color: #404bbf;
}

.modal-btn-close-phone {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;

    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-btn-close-phone-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close-phone:hover,
.modal-btn-close-phone:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.address-phone {
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #434455;
    font-size: 20px;
}

.address-ul-phone {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.address-a-phone {
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-a-phone:hover,
.address-a-phone:focus {
    color: #404bbf;
}

.current-address {
    color: #4d5ae5;
}

.social-media-menu {
    display: flex;
    margin-top: 48px;
    gap: 40px;
}

.icon-li-phone {
    width: 40px;
    height: 40px;
}

.icon-div-phone {
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.icon-div-phone:hover,
.icon-div-phone:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
    fill: #f4f4fd;
}

.phone-navigation-line {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

/* ------ screen one ------- */

.screen-one {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg.jpg);
    max-width: 320px;
    height: 432px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
    .screen-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg@2x.jpg);
    }
}

.screen-one .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    max-width: 216px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding-top: 72px;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}


/* --------- screen two --------- */

.screen-two {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.screen-two-icon {
    display: none;
}

.screen-two .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;        
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.screen-two .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.screen-two-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 72px;
}

/* --------- screen three --------- */

.screen-three {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #f4f4fd;
}

.screen-three .title,
.screen-four .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.screen-three-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.screen-three-list-li {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.screen-three-card {
    margin: 32px auto;
}

.screen-three-card .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;

}

.screen-three-card .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.screen-three-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.icon-li {
    width: 40px;
    height: 40px;
}

.icon-div {
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* --------- screen four --------- */

.screen-four {
    padding-top: 96px;
    padding-bottom: 96px;
}

.screen-four .overlay-text {
    display: none;
}

.screen-four-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.screen-four-card {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.screen-four-content {
    padding: 32px 16px;
}

.screen-four-content .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.screen-four-content .text {
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
} 

/* =========== footer ============ */

.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo-part {
    color: #f4f4fd;
}

.footer .text {
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-bottom: 72px;
}

.social-media-text {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 72px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    padding-left: 16px;
    margin-bottom: 16px;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 0.6;
}

.footer-button-subscribe {
    padding: 8px 24px;
    margin-left: auto;
    margin-right: auto;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    border-radius: 4px;
    border: none;
    background: #4d5ae5;
    color: #fff;
    fill: #fff;
}

/* =========== modal =========== */

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);

    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #FCFCFC;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-elements {
    margin-bottom: 8px;
}

/* .modal-form:last-child {
    margin-bottom: 16px;
} */

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    min-width: 256px;
    height: 40px;
    padding-left: 34px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-icon-name::after {
    border: 1.25px solid #2e2f42;
    width: 18px;
    height: 0px;
    transform: rotate(-90deg);
} */

.input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.input:focus+.modal-icon {
    fill: #4d5ae5;
}

.input-wrapper {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    height: 120px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
}

.comment-div {
    margin-bottom: 16px;
}

.comment:focus {
    border-color: #4d5ae5;
}

.comment:placeholder-shown {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding-left: 16px;
    padding-top: 8px;
}

.form-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 16px 65px;
    cursor: pointer;
    min-width: 169px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
}

.modal-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
        
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid  rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 0;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-btn-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.div-agreement {
    margin-bottom: 24px;
}

.input-agreement {
    width: 16px;
    height: 16px;
}

.input-agreement:checked+.label-agreement .checkbox-span-square {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

.input-agreement:focus+.label-agreement .checkbox-span-square {
    outline: 2px solid rgba(0, 0, 255, 0.5)
}

.label-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.agreement-link {
    text-decoration: underline;
    color: #4D5AE5;
}

.checkbox-span-square {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    flex-shrink: 0;
}



/* ================= TABLET ================== */

@media (min-width: 768px) {

    .container {
        max-width: 736px;
    }

    .container-nav .nav-list,
    .container-nav .address {
        display: flex;
    }

    .menu-btn {
        display: none;
    }

    .container-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page-navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-list {
        gap: 40px; 
    }

    .nav-list-a {
        font-weight: 500;
        line-height: 150%;
        color: #2e2f42;
        margin-top: 0;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        position: relative;
        color: #404bbf; 
        }
    
    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        background-color: #404BBF;
        height: 4px;
        width: 100%;
    }
    
    .address {
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
    }

    .address-ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-a {
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-a:hover,
    .address-a:focus {
        color: #404bbf;
    }

    .logo {
        margin-right: 120px;
    }

/* ============= screen one ============= */

    .screen-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-tablet.jpg);
        max-width: 768px;
        height: 436px;
    }

    .screen-one .title {
        font-size: 56px;
        line-height: 107%;
        max-width: 496px;
        padding-top: 112px;
        margin-bottom: 36px;
    }


    /* ------------ screen two ------------ */

    .screen-two-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .screen-two-list-li {
        width: calc((100% - 24px) / 2);
    }

    .screen-two .title {
        text-align: start;
    }

/* ============= screen three ============ */

    .screen-three-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 24px;
        column-gap: 64px;
    }


/* ============= screen four ============== */

    .screen-four-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    /* ============ footer ============ */

    .footer .text {
        max-width: 264px;
        margin-bottom: 0;
    }

    .social-media-text {
        text-align: start;
    }

    .footer-social-links {
        justify-content: flex-start;
    }

    .footer-content-and-media {
        display: flex;
        gap: 24px;
        margin-left: 108px;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .footer-input {
        margin-bottom: 0;
    }

    .footer-subscribe {
        margin-left: 108px;
    }

    .footer-button-subscribe {
        display: inline-flex;
        margin-left: 0;
        margin-right: 0;
    }

    /* ============= modal window ============= */

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .input {
        width: 360px;
    }

    .comment {
        width: 360px;
    }

    .div-agreement {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .screen-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .screen-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-desktop@2x.jpg);
        max-width: 1440px;
    }
}

@media (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-list-a:hover,
    .nav-list-a:focus {
        color: #404bbf;
    }

    .address-ul {
        flex-direction: row;
        gap: 40px;
    }

    .address-a {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }

    .address-a:hover,
    .address-a:focus {
        color: #404bbf;
    }

    /* ============= screen one ============= */

    .screen-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-bg.jpg);
        max-width: 1440px;
        height: 600px;
    }

    .screen-one .title {
        padding-top: 180px;
        margin-bottom: 48px;
    }

    .button:hover,
    .button:focus {
        background-color: #404bbf;
    }

    /* ============== screen two ==============  */

    .screen-two {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .screen-two-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8E8F99;
        background-color: #F4F4FD;
        border-radius: 4px;
        max-width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }

    .screen-two-list-li {
        width: calc((100% - 72px) / 4);
    }

    .screen-two .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }

    .screen-two .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }

    /* ============= screen three ============ */

    .screen-three {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .screen-three-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .icon-div {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-div:hover,
    .icon-div:focus {
        background-color: #404BBF;
    }

    /* ============== screen four ============== */

    .screen-four {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .screen-four-card {
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .screen-four-card:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        transform: translateY(0);
    }

    .screen-four-card-overlay {
        position: relative;
        overflow: hidden;
    }
    
    .screen-four-card-overlay:hover .overlay-text {
        transform: translateY(0);
    }
    
    .overlay-text {
        display: contents;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        padding: 40px 32px;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #F4F4FD;
    
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* ============== footer =============== */

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    .footer-content-and-media {
        margin-left: 0;
        gap: 120px;
    }

    .footer-input {
        width: 264px;
    }

    .footer-subscribe {
        margin-left: 80px;
    }

    .footer-social-links {
        margin-bottom: 0;
    }
}