body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    font-style: normal;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    border-color: #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header .logo {
    margin-right: 76px
}

.logo-part {
    color: #2e2f42;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
    font-weight: 500;
    line-height: 150%;
    color: #2e2f42;
}

.nav-list:hover {
    color: #404bbf;
}

.nav-list-a {
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-a:hover,
.nav-list-a:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404BBF;
    height: 4px;
    width: 100%;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.address {
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #434455;
}

.address-ul {
    display: flex;
    gap: 40px;
}

.address:hover {
    color: #404bbf;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.address-a {
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-a:hover,
.address-a:focus {
    color: #404bbf;
}

.screen-one {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-bg.jpg);
    /*max-width: 1440px;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
}

.screen-one .title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404BBF;
}

.screen-two .container .title {
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.screen-two .title-hidden {
    margin-bottom: 72px;
}

.screen-two {
    padding-top: 120px;
    padding-bottom: 120px;
}

.screen-two-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.screen-two-list-li {
    width: calc((100% - 72px) / 4);
}


.screen-two-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    border-radius: 4px;
    max-width: 264px;
    max-height: 112px;
    margin-bottom: 8px;
}

.screen-three {
    background-color: #F4F4FD;
}

.screen-three {
    padding-top: 120px;
    padding-bottom: 120px;
}

.screen-three .title {
    margin-bottom: 72px;
}

.screen-three .title,
.screen-four .title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.screen-three-list {
    display: flex;
    gap: 24px;
}

.screen-three-card {
    padding: 32px 0;
}

.screen-three-list .subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.screen-three-list .text {
    text-align: center;
}

.screen-three-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 232px;
    max-height: 40px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
}

.icon-li {
    width: 40px;
    height: 40px;
}

.icon-div {
    display: flex;  
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.icon-div:hover,
.icon-div:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: #f4f4fd;
}

.screen-three-list-li {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.screen-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.screen-four .title {
    margin-bottom: 72px;
}

.screen-four-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.screen-four-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.screen-four-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.screen-four-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0);
}

.screen-four-card-overlay {
    position: relative;
    overflow: hidden;
}

.screen-four-card-overlay:hover .overlay-text {
    transform: translateY(0);
}

.overlay-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.screen-four-list .subtitle {
    margin-bottom: 8px;
}

.screen-two .title,
.screen-three .subtitle,
.screen-four .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.screen-two .text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.screen-three > ul > li > .text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.screen-four .text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-content {
    margin-right: 120px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo-part {
    color: #f4f4fd;
}

.footer .text {
    font-weight: 400;
    font-size: 16px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer .social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 232px;
    max-height: 40px;
    gap: 16px;
}

.footer .icon-div {
    display: flex;
    border-radius: 50%;
    max-height: 40px;
    max-width: 40px;
    background-color: #4D5AE5;
    padding: 8px;
}

.footer .icon-div:hover,
.footer .icon-div:focus {
    background-color: #31D0AA;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.screen-three-social-links .icon {
    fill: none;
}